<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="author" content="theone" />
    <title> <%= htmlWebpackPlugin.options.title %> </title>
    <meta name="description" content="个人简介,吴斌杰,js工程师" />
    <meta name="keyword" content="个人简介,吴斌杰,js工程师,nodejs,全栈工程师" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css" />

    <script src="//cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/vivus/0.4.5/vivus.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.extensions.min.js"></script>
</head>
<body>
  <%- include layout/logo -%>

  <!-- 指定id:fullpage -->
  <div id='fullpage'>
    <div class="section bg-purple" id='sectionAll'>
      <%- include layout/firstPage -%>
    </div>

    <div class="section bg-primary" id='sectionInfo'>
      <div class="slide">
        <%- include layout/project-new-redpack -%>
      </div>

      <div class="slide">
        <%- include layout/project-TCC-server -%>
      </div>
    </div>


      <div class="section bg-danger" id='section-project-part2'>
        <%- include layout/project-poster-factory -%>
      </div>

    <div class="section bg-leaf-green" id='resume'>
      <!-- 简历信息 -->
      <div class="vertical-center">
        <div class='welcome welcome-top animated long'>
          <img src="<%= require('./assets/svgs/welcome/top.svg') %>" alt="welcom-top">
        </div>
        <div class='welcome welcome-bottom animated long'>
          <img src="<%= require('./assets/svgs/welcome/bottom.svg') %>" alt="welcom-bottom">
        </div>

        <div class="container">
          <div class="row">

            <div class="col-xs-12">
              <section>
                <h2> 个人信息 </h2>
                <dl class="dl-horizontal-forever">
                  <dt>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</dt>
                  <dd>吴斌杰</dd>

                  <dt>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业:</dt>
                  <dd>NodeJS工程师 / 全栈工程师</dd>

                  <dt>出生年月:</dt>
                  <dd>1990年10月</dd>

                  <dt>发展方向:</dt>
                  <dd>
                    Node.js / 项目管理
                  </dd>

                  <dt>爱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好:</dt>
                  <dd>
                    竞技游戏, LOL, 篮球.
                  </dd>

                  <dt>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:</dt>
                  <dd>
                    梦想阅尽天下名码,而心中无码。
                  </dd>

                </dl>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="section bg-origin" id='contact'>
      <div id='tree'>
      </div>

        <div class="vertical-center">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>
                  联系方式
                </h2>
                <div class="row">
                  <div class="col-xs-12">

<pre class="prettyprint linenums lang-js">
const self = {
  phone: 13810556559,
  qq: '297190869',
  email:"wubinjie12345@gmail.com",
  languages: [ 'js', 'php', 'python' ],
  gender: 'male',
};
</pre>
            </div>
            <div class="col-xs-12 center-block">
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=xaSjo6SmsYW0tOumqqg" class="am-icon-btn am-secondary am-icon-qq" title='qq' alt='qq'></a>

    <a target="_blank" href="https://github.com/TheOne1006" class="am-icon-btn am-icon-github" title='github' alt='github'></a>

    <a target="_blank" href="https://www.facebook.com/profile.php?id=100006478224154" class="am-icon-btn am-icon-facebook am-primary" title='facebook' alt='facebook'></a>

    <a target="_blank" href="https://plus.google.com/115178860716802723353" class="am-icon-btn am-icon-google-plus am-danger" title='google-plus' alt='google-plus'></a>

    <a target="_blank" href="https://twitter.com/theone12138" class="am-icon-btn am-icon-twitter am-secondary" title='twitter' alt='twitter'></a>

    <!--
    <a target="_blank" href="http://weibo.com/u/2897931631" class="am-icon-btn am-icon-weibo am-warning" title='weibo' alt='weibo'></a> -->



            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
  </div>
</body>
</html>
