<div class="container firstPage">
  <h1>
    常用技术栈
  </h1>
  <p class='text-right'>
    —— 个人简介
  </p>
  <div class="row">
    <div class="col-xs-4">
      <!-- 左侧logo  -->
      <div class="row logo-left">
        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/react.svg') %>" class="img-rounded svgimg animated"
            data-animate='topLeft'>
        </div>
        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/elastic-logo-reverse.svg') %>" class="img-rounded svgimg animated"
            data-animate='left'>
        </div>
        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/mysql.svg') %>" class="img-rounded svgimg animated"
            data-animate='bottomLeft'>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <!-- 中间logo -->
      <div class="row middle">
        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/docker-logo.svg') %>" class="img-rounded svgimg animated"
            data-animate='top'>
        </div>
        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/node.svg') %>" class="img-rounded svgimg animated" >
        </div>

        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/php.svg') %>" class="img-rounded svgimg animated"
            data-animate='bottom'>
        </div>

      </div>
    </div>
    <div class="col-xs-4">
      <!-- 右侧logo -->
      <div class="row logo-right">
        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/graphql.svg') %>" class="img-rounded svgimg animated"
            data-animate='topRight'>
        </div>
        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/nodejs.svg') %>" class="img-rounded svgimg animated"
            data-animate='right'>
        </div>
        <div class="col-xs-12">
          <img src="<%= require('./assets/svgs/logo/egg.svg') %>" class="img-rounded svgimg animated"
            data-animate='bottomRight'>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <img src="<%= require('./assets/svgs/logo/mongo2019.svg') %>" class="img-rounded svgimg animated"
        data-animate='bottomLeft'>
    </div>
    <div class="col-xs-4">
      <img src="<%= require('./assets/svgs/logo/laravel-str.svg') %>" class="img-rounded svgimg animated"
        data-animate='bottom'>
    </div>
    <div class="col-xs-4">
      <img src="<%= require('./assets/svgs/logo/redis.svg') %>" class="img-rounded svgimg animated"
        data-animate='bottomRight'>
    </div>
  </div>

</div>
