<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-ms-12 col-md-6">
        <section>
          <h2>红包新闻 App </h2>
          <p class='lead'> 一款激励阅读应用 </p>
          <blockquote>
            <p>
              负责内容:
              <span class="text-desc">
                后端技术选型；采用restful API开放接口；针对应用编写 Egg.js 中间件；拆分对接依赖服务；用户日志分析
              </span>
            </p>
          </blockquote>
          <ul>
            <li>
              服务器端 Egg.js + Docker + nginx 实现负载均衡
            </li>
            <li>
              编写代码 TypeScript
            </li>
            <li>
              部署方式 gitlab + Jenkins 提交后自动部署
            </li>
            <li>
              测试 编写单元测试,覆盖率80%+
            </li>
            <li>
              聚合统计 基于 ELK 实现复杂数据聚合统计
            </li>
          </ul>
        </section>
      </div>
      <div class="visible-md visible-lg col-md-6">
        <div class="imgsContainer">
          <div class="row">
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/egg.svg') %>" class="svgimg animated long">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/vscode.svg') %>" class="svgimg animated long delay-1s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/nodejs-icon.svg') %>" class="svgimg animated long delay-2s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/swagger.svg') %>" class="svgimg animated long delay-1s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/docker.svg') %>" class="svgimg animated long delay-2s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/typescript.svg') %>" class="svgimg animated long delay-3s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/mocha.svg') %>" class="svgimg animated long delay-2s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/redis.svg') %>" class="svgimg animated long delay-3s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/elastic-logo-reverse.svg') %>" class="svgimg animated long delay-4s">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
