<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-ms-12 col-md-6">
        <section>
          <h2>项目一: TheOne.io</h2>
          <p class='lead'> <a target="_target" href="http://theone.io">theone.io</a>:个人博客/笔记 v2.0</p>
          <blockquote>
            <p>制作初衷:
              <span class="text-muted">
                在上个 Angular 版本之后, 发现一些不足和瑕疵, 在 React 学习以及 React-Native 开始之前, 有必要练练手.
              </span>
            </p>
          </blockquote>
          <ul>
            <li>
              服务器端 Loopback/Graphql + Docker 部署
            </li>
            <li>
              前端框架 React.js + material-ui
            </li>
            <li>
              构建工具 Webpack + Yarn 等
            </li>
          </ul>
        </section>
      </div>
      <div class="visible-md visible-lg col-md-6">
        <div class="imgsContainer">
          <div class="row">
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/nodejs-icon.svg') %>" class="svgimg animated long">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/loopback.svg') %>" class="svgimg animated long delay-1s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/graphql.svg') %>" class="svgimg animated long delay-2s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/react.svg') %>" class="svgimg animated long delay-1s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/material-ui.svg') %>" class="svgimg animated long delay-2s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/redux.svg') %>" class="svgimg animated long delay-3s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/yarn.svg') %>" class="svgimg animated long delay-2s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/webpack.svg') %>" class="svgimg animated long delay-3s">
            </div>
            <div class="col-md-4">
              <img src="<%= require('./assets/svgs/logo/babeljs.svg') %>" class="svgimg animated long delay-4s">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
